@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");

body {
  font-family: "Raleway";
  background-image: radial-gradient(
    circle at -4.03% 40.47%,
    IndianRed 20%,
    Salmon 40%,
    crimson 60%,
    DeepPink 80%,
    Fuchsia 100%
  );
  color: black;
}

button {
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(192, 69, 89);
  background: linear-gradient(315deg, #900c3f 0%, #47041e 75%);
}

a {
  margin-right: 5px;
}
