@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");

body {
  font-family: "Raleway";
  background-color: black;
  color: pink;
}

button {
  min-width: 130px;
  height: 40px;
  color: purple;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(192, 69, 89);
  background: linear-gradient(315deg, #ecfcf7 0%, #97ebcb 75%);
}
button :hover {
  background: purple;
}

a {
  margin-right: 5px;
}
