@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap");

body {
  font-family: "Raleway";
  background-color: black;
  color: aliceblue;
}

button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid pink;
  background: linear-gradient(315deg, #f0ecfc 0%, #c797eb 75%);
}
button :hover {
  background: #fff;
}
